body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    margin-top: 35px; /* Ajuste conforme a altura da barra de menus */
}

.container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.containerCanal {
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    position: relative;
}


.image-container img {
    max-width: 100%;
    height: auto;
    max-height: 200px; /* Ajuste conforme necessário */
}

.contact-info {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    padding: 20px;
}

.navbar .nav-links{
    background-color: rgb(68, 91, 91); /* Cor de fundo da barra de menus */
    overflow: hidden;
    position: absolute;
    top: 0; /* Posicionar na parte superior */
    width: 100%; /* Largura total */
    display: flex;
    align-items: center;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 16px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.pyscript {
    color: white;
}

/* Estilos para os projetos */
.project {
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.project-info {
    padding-left: 20px;
}

/* Estilos para os links de detalhes */
.project-info a {
    display: inline-block;
    margin-top: 10px;
    background-color: rgb(68, 91, 91);
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
}

.project-info a:hover {
    background-color: #555;
}

/* Estilos para o formulário de contato */
form {
    margin-top: 20px;
    text-align: left;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input,
form textarea {
    width: 99%; 
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

form button {
    background-color: rgb(68, 91, 91);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

/* Estilos para a página de agradecimento */
.thank-you-page {
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.thank-you-page h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.thank-you-page p {
    font-size: 16px;
}

/* Estilos específicos para o carrossel */
.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
}

/*.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}*/

.carousel-item {
    flex: 0 0 100%;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 20px; /* Espaço entre os itens */
}

/* Botões de navegação */
.carousel-controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.carousel-controls button {
    background-color: rgb(68, 91, 91);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}

/* Estilo para o botão ativo */
.carousel-controls button.active {
    background-color: #555;
}

/* Adicione ou ajuste os estilos para os botões de navegação */
.carousel-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Espaço acima dos botões */
}

.prev-button,
.next-button {
    background-color: rgb(68, 91, 91);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 0 10px; /* Espaço entre os botões */
    cursor: pointer;
}

/* Estilo para o botão ativo */
.prev-button:hover,
.next-button:hover {
    background-color: #555;
}

/* Seus estilos existentes */

.postagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin-top: 20px; /* Use o espaço do rodapé como margem superior */
    padding-bottom: 100px; /* Crie espaço para o rodapé */
    overflow-y: auto; /* Adicione scroll vertical quando necessário */
    margin-bottom: 120px;
}

.postagensCanal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin-top: 20px; /* Use o espaço do rodapé como margem superior */
    overflow-y: auto; /* Adicione scroll vertical quando necessário */
}

.postagem-card {
    width: 300px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.postagem-card h2 {
    font-size: 20px;
}

.postagem-card p {
    font-size: 14px;
}

.postagem-card a {
    display: inline-block;
    margin-top: 10px;
    background-color: rgb(68, 91, 91);
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
}

.centro {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 170px); /* Ajusta conforme necessário */
    padding: 20px;
}

.footer {
    bottom: 0;
    width: 100%;
    background-color: rgb(68, 91, 91);
    color: white;
    padding: 20px 0;
    text-align: center;
    z-index: 1;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.footer-logo img {
    max-height: 50px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.footer-social {
    margin-top: 10px;
}

.social-icon img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

.footer-bottom {
    font-size: 14px;
}
.generator-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.generator-links a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: rgb(68, 91, 91);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.generator-links a:hover {
    background-color: #555;
}

.member-image {
    width: 120px; /* Defina o tamanho desejado para as imagens */
    height: 120px;
    border-radius: 50%; /* Torna a imagem redonda */
    object-fit: cover; /* Mantém a proporção da imagem */
    margin: 0 auto 10px; /* Centraliza a imagem e adiciona margem inferior */
    display: block;
}

.video-section {
    text-align: center;
    margin-top: 40px;
}

.video-section h2 {
    font-size: 24px;
}

.latest-videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.youtube-video {
    width: 300px; /* Ajuste conforme necessário */
    height: 200px; /* Ajuste conforme necessário */
    position: relative;
    overflow: hidden;
}

.youtube-video iframe {
    width: 100%;
    height: 100%;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
}

/* Estilo para o conteúdo do conversor */
.converter-content {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.converter-content label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.converter-content textarea {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.converter-content select, .converter-content button {
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.converter-content button:hover {
    background-color: #555;
}

#textoConvertido {
    margin-top: 15px;
    font-size: 18px;
}

/* Estilos para as informações de quantidade */
#infoCaracteres,
#infoPalavras,
#infoLinhas {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

/* Estilos para a área de texto */
#textoOriginal {
    width: 100%;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: vertical;
}

/* Estilos para o botão de conversão */
#converter {
    background-color: rgb(68, 91, 91);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

#converter:hover {
    background-color: #555;
}

.ticker {
    background-color: #373b3f;
    color: white;
    padding: 10px 0;
    margin-top: 10px; /* Ajuste o valor conforme necessário */
    display: flex;
    align-items: center;
}

.ticker marquee {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.ticker-item {
    padding: 0 20px;
    font-size: 14px;
}

/* Estilos para o seletor de moeda */
#currencySelector {
    display: flex;
    align-items: center; /* Centralizar verticalmente */
    margin-left: auto;
}

#currencySelect {
    cursor: pointer;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 4px;
}

/* Estilos para o botão */
#toggleButton {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px; /* Espaço à esquerda */
}

#toggleButton:hover {
    background-color: #2980b9;
}

.consulta-cep {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.input-container {
    align-items: center;
    margin-top: 10px; /* Espaço entre o título e o contêiner */
}

.input-container label {
    margin-right: 10px; /* Espaço entre o label e o input */
}

.input-container input {
    flex: 1; /* Ocupa o espaço disponível restante */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.input-container button {
    background-color: rgb(68, 91, 91);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Estilos para o jogo da velha */
.jogo-da-velha {
    margin-top: 40px; /* Espaço acima do jogo */
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/*.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 10px;
    margin-top: 20px;
}*/

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
}

.cell:hover {
    background-color: #f0f0f0;
}

.result-message {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

#restart-button {
    top: 0;
    right: 0;
    padding: 10px 20px;
    background-color: rgb(68, 91, 91);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* Estilo para o banner de previsão do tempo */
.weather-banner {
    background: linear-gradient(to bottom, #57A6DA, #247BA0); /* Gradiente de cores */
    color: #fff; /* Cor do texto branco */
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    display: inline-block;
}

.weather-banner h2 {
    font-size: 24px;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase; /* Transforma o texto da cidade em maiúsculas */
    font-weight: bold; /* Deixa o texto da cidade em negrito */
}

.weather-banner p {
    font-size: 18px;
    margin: 0;
    text-align: left; /* Alinha o restante do texto à esquerda */
}

/* Estilo para o ícone do tempo */
.weather-icon {
    width: 50px;
    height: 50px;
    background-color: #5E7F7F; /* Cor de fundo para o ícone (substitua pelo ícone real) */
    margin: 0 auto 10px; /* Centralizar o ícone e adicionar margem inferior */
    border-radius: 50%; /* Tornar o ícone circular */
}

/* Estilo para o contêiner de informações do tempo */
.weather-info {
    text-align: center;
}

/* Estilo para centralizar verticalmente */
.weather-info p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0; /* Espaçamento entre os parágrafos */
}

/* Estilos para o checklist */
.itens-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.itens-list,
.itens-verificados {
    flex-basis: 48%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: box-shadow 0.3s ease;
}

.itens-list:hover,
.itens-verificados:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.itens-list h2,
.itens-verificados h2 {
    color: #000000;
    margin-bottom: 10px;
}

.checklist-container {
    max-width: 100%;
}

.checklist-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.checklist-item input {
    margin-right: 10px;
}

.checklist-item label {
    font-size: 16px;
}

.checklist-item input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #000000;
    border-radius: 4px;
    cursor: pointer;
}

.checklist-item input[type="checkbox"]:checked {
    background-color: rgb(68, 91, 91);
    border: 2px solid rgb(68, 91, 91);
}

.checklist-item input[type="checkbox"]:checked::before {
    content: '\2713';
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
}

button {
    background-color: rgb(68, 91, 91);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}