# Habilita o uso do mod_rewrite para reescrita de URLs
RewriteEngine On

# Remove a extensão .php das URLs
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)$ $1.php [L]

# Redireciona todas as solicitações para HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Habilitar exibição de erros
php_value display_errors 1
